<% layout("../layouts/boilerplate.ejs") %>

<style>
    body{
        background-color: black;
    }
</style>

    <!-- About Us Section -->
    <div class="about mt-5 py-5 px-5 mb-5">
            <h2>About Us</h2>
            <p>
                Welcome to IET-DAVV Placement Blog, your dedicated resource for navigating the path from campus to career within our esteemed institution.
                We know that the transition from student life to the professional world is a crucial phase, and we're here to support you every step of the way.
                Our mission is to empower IET-DAVV students by providing tailored resources, insider insights, and practical advice on all aspects of campus placements. 
            </p>

            <hr class="my-2">
            <h3>Centralized Placement Cell, DAVV :</h3>

            <p>
                The Centralized Placement Cell (CPC) was formally
                established in 2021 to prepare the students and make
                them industry-ready with equal opportunity through
                intensive and innovative training methodologies. The
                core committee of CPC consists of faculties from
                different UTDs of the university.
                The CPC aims for a unified and streamlined placement
                process at DAVV to train the students and upgrade their
                soft skills and technical skills in the core trust area to
                equip themselves and be globally competitive. CPC
                conducts regular activities to boost student's
                placements.                      
            </p>
            <br>

            <strong> 
                <h5>Dr. Govind Maheshwari
                    <a href="https://www.linkedin.com/in/maheshwarigovind/"><i class="fa-brands fa-linkedin about-icon ml-1"></i></a>
                     
                    | <a href="gmaheshwari@ietdavv.edu.in"><i class="fa-solid fa-envelope about-icon"></i></a>                    
                </h5>                
            </strong>
            Coordinator Centralized Placement Cell (CPC) <br>
    </div>