<% layout("../layouts/boilerplate.ejs") %>

<style>
  body{
    background-color: #000;
    color: white;
  }
  .card{
    background-color: #222;
  }
  .wrapper-date{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-weight: 250;
  }
  .fa-check{
    color: rgb(6, 196, 6);
  }
  .fa-xmark{
    color: red;
  }
  .card-subtitle{
    font-size: 0.9rem;
  }
  .req-btn{
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }
  .outerBlogReq-div{
    height: 30rem;
  }
</style>                                           
<br>
<h3>Blogs for Blog Requests : </h3>
<br>
<!-- APPLY FILTER HERE ADD A SEARCH BOX HERE -->
<div class="mb-3">
  <input type="text" id = "filter" class="form-control" oninput="getBlogs()" placeholder="Search For a blog">
</div>
<div id = "displayBlogs">
  
</div>
<div class="col-5 offset-4">
  <button id = "previous" type="button" class="btn btn-dark mr-3" onclick = "previousPage()" disabled>Previous</button>
  <span id = "pageNumber"></span>
  <button id = "next" type="button" class="btn btn-dark ml-3" onclick = "nextPage()">Next</button>    
</div>
<br>
<script>
  var blogs = <%- JSON.stringify(blogRequests) %>;
  var blogsPerPage = 1;
  var blogsPerPage = 1;
  var totalPages = Math.ceil(blogs.length/blogsPerPage);
  var currentPage = <%= currentPage %>;
  var text = "<%= text %>";
  function previousPage()
  {
    currentPage = currentPage-1;
    getBlogs();
  }
  function nextPage()
  {
    currentPage = currentPage+1;
    getBlogs();
  }
  function getBlogs()
  {
    text = document.getElementById("filter").value;
    var filteredBlogs = searchFilters(blogs,text);
    totalPages = Math.ceil(filteredBlogs.length/blogsPerPage);
    if(currentPage <= 0 && totalPages > 0)
    {
      currentPage = 1;
    }
    if(currentPage > totalPages)
    {
      currentPage = totalPages;
    }
    var blogShow;
    if(filteredBlogs.length > 0)
    {
      blogShow = pagination(filteredBlogs,blogsPerPage,currentPage);
      showBlog(blogShow.blogs);
    }
    else
    {
      showBlog([]);
    }
    
    if(currentPage <= 1 || totalPages == 0)
    {
      document.getElementById("previous").disabled = true;
    }
    else
    {
      document.getElementById("previous").disabled = false;
    }
    if(currentPage >= totalPages || totalPages == 0)
    {
      document.getElementById("next").disabled = true;
    }
    else
    {
      document.getElementById("next").disabled = false;
    }
    var pageNumber = document.getElementById("pageNumber");
    pageNumber.innerHTML = currentPage+" / "+totalPages;
  }
  
  function showBlog(blogs)
  {
    var html = ``;
    var displayBlogs = document.getElementById("displayBlogs");
    displayBlogs.innerHTML = "";
    for(var i = 0; i < blogs.length; i++)
    {
      var blog = blogs[i];
      html = html+`<div class="card mb-4">    <!-- use w-75 or style="width: 75rem; height: 20rem" for styling -->`;
      html = html+`<div class="card-body">`;
      html = html+`<h5 class="card-title">${blog.company.name} Interview Experience </h5>`;
      html = html+`<h6 class="card-subtitle mb-3">
      <a style="text-decoration:none; color:white;" href = "/user/profile/`+blog.user.id+`"> 
      <i class="fa-solid fa-user"></i> ${blog.user.name}</a> </h6>`;  

      html = html+`<span class="wrapper-date"> ${blog.date} </span>`;
      
      for(tag of blog.tags){
        html = html + `<span class="badge badge-pill badge-dark mt-2 mb-2 ml-1 mr-1" style="font-size: 1rem; opacity: 0.75">${tag}</span>`;
      }      
      html = html+`<br>`;
      if(blog.selectionStatus)
      {
        html = html+`<i> Selection Status <i class="fa-solid fa-check"></i> </i>`;
      } 
      else 
      {
        html = html+`<i> Selection Status <i class="fa-solid fa-xmark"></i> </i>`;
      }
      html = html+`<p class="card-text"> ${blog.content} </p>`;
      html = html+`<p class = "card-text">`;
      html = html+`</p>`; 
      html = html+`<div class="req-btn">`;
      html = html+`<form action="/blog/request/accept" method="POST">`;
      html = html+`<input type = "hidden" name = "id" value = '${blog.id}'>`;
      html = html + `<input type = "hidden" name = "currentPage" value = '${currentPage}'>`;
      html = html + `<input type = "hidden" name = "text" value = '${text}'>`;          
      html = html+`<button class="btn btn-success mr-3" type = "submit">Accept</button>`;  
      html = html+`</form>`;
      html = html+`<form action="/blog/request/reject" method="POST">`;
      html = html+`<input type = "hidden" name = "id" value = '${blog.id}'>`;
      html = html + `<input type = "hidden" name = "currentPage" value = '${currentPage}'>`;
      html = html + `<input type = "hidden" name = "text" value = '${text}'>`;          
      html = html+`<button class="btn btn-danger ml-3" type = "submit">Reject</button>`;  
      html = html+`</form>`;           
      html = html+`</div>`;
      html = html+`</div>`;
      html = html+`</div>`;
    }
    displayBlogs.innerHTML = html;
  }
  getBlogs();
</script>
